<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!--   <div class="field">
    <#%= f.label :origin %><br>
    <#%= f.fields_for :origin, Origin.new do |origin_form| %>
      <#%= origin_form.text_field :address %>
    <#% end %>
  </div>
 -->

  <!-- <p id="error"></p>
<form action="/trips/show" method="post">
    <input id="latitude" name="latitude" type="hidden">
    <input id="longitude" name="longitude" type="hidden">
    <input id="destination" name="destination" type="text">
    <input type="submit" id="submit" value="submit">
</form>
 -->
<!--  -->

  <div class="field">
    <%= f.fields_for :origin, Origin.new do |origin_form| %>
      <%= origin_form.hidden_field :latitude %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :origin, Origin.new do |origin_form| %>
      <%= origin_form.hidden_field :longitude %>
    <% end %>
  </div>


  <form class="form-signin">
    <h2 class="form-signin-heading text-center">Where do you want to go?</h2>
    <%= f.fields_for :destination, Destination.new do |destination_form| %>
      <%= destination_form.text_field :address, :class => "form-control text-center", :placeholder => "Destination" %>
    <% end %>
    <%= f.submit 'GO!!', :class => 'btn btn-lg btn-primary btn-block' %>
  </form>


<% end %>
