<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @trip.origin.address %>
</p>

<h3>Nearby Stations to Origin</h3>
<% n=0 %>
<% Station.near([@trip.origin.latitude, @trip.origin.longitude], 0.25).each do |station| %>
  <%= link_to station.address, station %> (<%= station.distance.round(2) %> miles)
  (<%= @trip.origin_history[n][0][1] %>)</br>
    <% n+=1 %>
<% end %></br></br>



<p>
  <strong>Destination:</strong>
  <%= @trip.destination.address %>
</p>

<h3>Nearby Stations to Destination</h3>
<% n=0 %>
<% Station.near([@trip.destination.latitude, @trip.destination.longitude], 0.25).each do |station| %>
  <%= link_to station.address, station %> (<%= station.distance.round(2) %> miles)
  (<%= @trip.destination_history[n][0][2] %>)</br>
  <% n+=1 %>
<% end %></br></br>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
<!-- 
<table>
  <thead>
    <tr>
      <th>Station Address</th>
      <th>Distance</th>
      <th>Estimated Available Bikes in 15 minutes</th>
      <th>Estimated Available Bikes in 30 minutes</th>
      <th>Estimated Available Bikes in 45 minutes</th>
    </tr>
  </thead>

  <tbody>
    <#% @trips.each do |trip| %>
    <#% n=0 %>
    <#% Station.near([@trip.destination.latitude, @trip.destination.longitude], 0.25).each do |station| %>
      <tr>
        <td><#%= link_to station.address, station %></td>
        <td><#%= trip.destination.address %></td>
        <td><#%= link_to 'Show', trip %></td>
        <td><#%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><#%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <#% end %>
  </tbody>

</table> -->