<p id="notice"><%= notice %></p>

<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong>Origin:</strong>
  <%= @trip.origin.address %>
</p>

<h3>Nearby Stations to Origin</h3>
<% Station.near([@trip.origin.latitude, @trip.origin.longitude], 0.25).each do |station| %>
  <%= link_to station.address, station %> (<%= station.distance.round(2) %> miles)</br>
<% end %>

 <p>
    <select name="trip[origin][station_id]">
      <% Station.near([@trip.origin.latitude, @trip.origin.longitude], 0.25).each do |station| %>
      <option value="<%= station.id %>"><%= station.address %></option>
      <% end %>
    </select>
  </p>


<h3>Nearby Stations to Destination</h3>
<% Station.near([@trip.destination.latitude, @trip.destination.longitude], 0.25).each do |station| %>
  <%= link_to station.address, station %> (<%= station.distance.round(2) %> miles)</br>
<% end %>

 <p>
    <select name="trip[destination][station_id]">
      <% Station.near([@trip.destination.latitude, @trip.destination.longitude], 0.25).each do |station| %>
      <option value="<%= station.id %>"><%= station.address %></option>
      <% end %>
    </select>
  </p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination.address %>
</p>


<%= f.submit %></br></br>
<% end %>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>


<!--  <p>
    <select name="mixtape[song_ids_to_add][]">
      <#% Song.all.each do |song| %>
      <option value="<#%= song.id %>"><#%= song.name %></option>
      <#% end %>
    </select>
  </p> -->
