<h1>Listing origins</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Station</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @origins.each do |origin| %>
      <tr>
        <td><%= origin.address %></td>
        <td><%= origin.latitude %></td>
        <td><%= origin.longitude %></td>
        <td><%= origin.station %></td>
        <td><%= link_to 'Show', origin %></td>
        <td><%= link_to 'Edit', edit_origin_path(origin) %></td>
        <td><%= link_to 'Destroy', origin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Origin', new_origin_path %>
